<h2>Repeating Multiple Top-Level Elements</h2>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl as dc">
    <h3 class="panel-header">To Do List</h3>
    <table class="table">
        <tbody>
        <tr ng-repeat-start="item in dc.todos">
            <td>This is item {{$index}}</td>
        </tr>
        <tr>
            <td>The action is: {{item.action}}</td>
        </tr>
        <tr ng-repeat-end>
            <td>Item {{$index}} is {{$item.complete? '' : "not "}} complete</td>
        </tr>
        </tbody>
    </table>
</div>





