<h1>Using the Template Directives</h1>
<h2>Section chooser</h2>
<h3>Please choose your section</h3>
<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>
<a href="#/elementsrepeatedly">
    <button class="btn btn-primary">ElementsRepeatedly</button>
</a>
<a href="#/repeatingobjprops">
    <button class="btn btn-primary">RepeatingObjProps</button>
</a>
<a href="#/workingwdataobjectkeys">
    <button class="btn btn-primary">WorkingWDataObjectKeys</button>
</a>
<a href="#/workingwbuiltinvars">
    <button class="btn btn-primary">WorkingwBuiltInVars</button>
</a>
<a href="#/builtinngrepeatvarsoddeven">
    <button class="btn btn-primary">BuiltInNgRepeatVarsOddEven</button>
</a>
<a href="#/builtinngrepeatvarsfirstlast">
    <button class="btn btn-primary">BuiltInNgRepeatVarsFirstLast</button>
</a>
<a href="#/repeatingmulttoplevelelems">
    <button class="btn btn-primary">RepeatingMultTopLevelElems</button>
</a>
<a href="#/workingwithpartialviews">
    <button class="btn btn-primary">WorkingWithPartialViews</button>
</a>
<a href="#/selectingpartialviewsdynamically">
    <button class="btn btn-primary">SelectingPartialViewsDynamically</button>
</a>
<a href="#/selectingpartialviewsdynamicallywithoptions">
    <button class="btn btn-primary">SelectingPartialViewsDynamicallyWithOptions</button>
</a>
<a href="#/conditionallyswappingelements">
    <button class="btn btn-primary">сonditionallyswappingelements</button>
</a>


<!--сonditionallySwappingElements

Montauk Project Experiments in Time.pdf-->

