<h2>Start</h2>
<h2>Section chooser</h2>
<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>

<a href="#/beginning">
    <button class="btn btn-primary">Beginning</button>
</a>

<a href="#/sdocumentservice">
    <button class="btn btn-primary">$documentService</button>
</a>

<a href="#/sintervalservice">
    <button class="btn btn-primary">$intervalService</button>
</a>

<a href="#/slocationserviceevents">
    <button class="btn btn-primary">$locationServiceEvents</button>
</a>

<a href="#/slocationprovider">
    <button class="btn btn-primary">$locationProvider</button>
</a>

<a href="#/sanchorscrollservice">
    <button class="btn btn-primary">$anchorScrollService</button>
</a>

<a href="#/sexceptionhandler">
    <button class="btn btn-primary">$exceptionHandler</button>
</a>

<a href="#/serrorhandlerreplace">
    <button class="btn btn-primary">$errorHandlerReplace</button>
</a>

<!--serrorhandlerreplace-->

<!--sexceptionHandler-->

<!--sanchorscrollservice-->
<!--slocationprovider-->
<!--
slocationserviceevents-->

