<div class="panel" ng-controller="selectElementAttributesCtrl as c">
    <form name="donForm" novalidate>
        <div class="well">
            <div class="form-group">
                <label>Select an Action:</label>
                <select ng-model="selectValue" ng-options="item.id as item.action for item in c.todos">
                    <option value="">(Pick One)</option></select>
            </div>
        </div>
        <div class="well">
            <p>Selected:{{selectValue|| 'None'}}</p>
        </div>
    </form>
</div>