<h1>Angular Forms</h1>
<h2>Section chooser</h2>
<h3>Please choose your section</h3>

<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>
<a href="#/beginning">
    <button class="btn btn-primary">Beginning</button>
</a>

<a href="#/basicformvalidations">
    <button class="btn btn-primary">BasicFormValidations</button>
</a>

<a href="#/controlelementvisibilityforms">
    <button class="btn btn-primary">ControlElementVisibilityForms</button>
</a>

<a href="#/consolidatingValidation">
    <button class="btn btn-primary">ConsolidatingValidation</button>
</a>

<a href="#/deferringValidation">
    <button class="btn btn-primary">DeferringValidation</button>
</a>

<a href="#/inputElementsAttributes">
    <button class="btn btn-primary">InputElementsAttributes</button>
</a>

<a href="#/additionattributescheckb">
    <button class="btn btn-primary">AdditionAttributesCheckB</button>
</a>

<a href="#/additionattributestextarea">
    <button class="btn btn-primary">AdditionAttributesTextArea</button>
</a>

<a href="#/selectelementattributes">
    <button class="btn btn-primary">SelectElementAttributes</button>
</a>
<a href="#/optgroupelements">
    <button class="btn btn-primary">OptGroupElements</button>
</a>





