<h2>Adding Elements to the addElements.html File</h2>
<ol demo-directive-find="">
    <li>Apples</li>
    <ul>
        <li>Bananas</li>
        <li>Cherries</li>
        <li>Oranges</li>
    </ul>
    <li>Oranges</li>
    <li>Pears</li>
</ol>

<div class="panel well">
    <div class="panel-body">
<p>         The children method will return the direct descendants of the ol element only, which includes the newly added
        ul element but excludes the new li elements. You can see the problem this causes in Figure 15-6 where only one of
        the elements that contains Oranges has been marked in bold.</p>


<p>        By contrast, I can use the find method to locate all of the li elements that are descendants of the ol element,
        including those further down the hierarchy.</p>
    </div>
</div>