<h1>Angular Custom Directives</h1>
<h2>Section chooser</h2>
<h3>Please choose your section</h3>

<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>

<a href="#/beginning">
    <button class="btn btn-primary">Beginning</button>
</a>

<a href="#/supportfordirectiveattr">
    <button class="btn btn-primary">SupportForDirectiveAttr</button>
</a>

<a href="#/evaluatingexpressions">
    <button class="btn btn-primary">EvaluatingExpressions</button>
</a>

<a href="#/changevaluesdir">
    <button class="btn btn-primary">ChangeValuesDir</button>
</a>

<a href="#/jqlite">
    <button class="btn btn-primary">Jqlite</button>
</a>

<a href="#/addelements">
    <button class="btn btn-primary">AddElements</button>
</a>

<a href="#/jqliteget">
    <button class="btn btn-primary">JqliteGet</button>
</a>

<a href="#/jqlitelistelemens">
    <button class="btn btn-primary">JqlitelistElemens</button>
</a>

<a href="#/fixingjqliteproblem">
    <button class="btn btn-primary">FixingJqliteProblem</button>
</a>

<a href="#/fixingjqliteproblem">
    <button class="btn btn-primary">FixingJqliteProblem</button>
</a>
<a href="#/jqliteeventhandler">
    <button class="btn btn-primary">JqliteEventHandler</button>
</a>

<!--jqliteeventhandler-->

<!--jqliteListElemensCtrl-->

<!--addelements-->
<!--jqlite-->

<!--evaluatingExpressions-->


<!--
supportfordirectiveattr-->
<!--
weiter mit 388-->
