<h1>Using the Template Directives</h1>
<h2>Section chooser</h2>
<h3>Please choose your section</h3>
<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>
<a href="#/filtertoresolvtransclusionprobs">
    <button class="btn btn-primary">filterToResolvTransclusionProbs</button>
</a>
<a href="#/ngclassngstyledirs">
    <button class="btn btn-primary">NgClassNgStyleDirs</button>
</a>

<a href="#/ngclassoddngclassevendirs">
    <button class="btn btn-primary">NgClassOddNgClassEvenDirs</button>
</a>

<a href="#/directivestohandleevents">
    <button class="btn btn-primary">DirectivesToHandleEvents</button>
</a>

<a href="#/customeventdirective">
    <button class="btn btn-primary">CustomEventDirective</button>
</a>

<a href="#/booleanattributesindirectives">
    <button class="btn btn-primary">BooleanAttributesInDirectives</button>
</a>

booleanattributesindirectives

<!--customeventdirective-->

<!--directivesToHandleEvents-->

<!--
ngClassOddNgClassEvenDirs-->
