<script type="text/ng-template" id="scopeTemplate">
    <div class="panel-body">
       <p>Data Value: <input type="text" ng-model="local"></p>
    </div>
</script>

<h2>Creating a Two-Way Binding in the .html File</h2>

<div ng-controller="secondCtrl as c">
    <div class="panel panel-default">
        <div class="panel-body">
            Direct Binding: <input type="text" ng-model="c.data.name">
        </div><!--important! - no {{c.data.name}} like in one way binding anymore-->
        <div class="panel-body" scope-demo5 nameprop="c.data.name"></div>
    </div>
</div>

<div class="panel well">
    <div class="panel-body">
        <p>The effect this example creates is that the flow of updates goes in both directions between the scopes—updates
            to the data.name property in the controller scope update the local property in the isolated scope and changes to the
            local property cause data.name to be updated.</p>
    </div>
</div>