<script type="text/ng-template" id="template">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>This is the panel</h4>
        </div><!--ng-transclude = point where the wrapped elements are getting inserted-->
        <div class="panel-body" ng-transclude><!--apply ng-transclude here-->
        </div>
    </div>
</script>
<h2>Beginning</h2>
<div ng-controller="defaultCtrl">
    <panel><!-- this is a custom directive!-->
        The data value comes from the: {{dataSource}} <!--using transclude=true allows to maintain this line here-->
    </panel>
    <panel>
        <p> Aaaallll this content is getting inserted @ the ng-transclude attribute</p>

        <p> Aaaallll this content is getting inserted @ the ng-transclude attribute</p>

        <p> Aaaallll this content is getting inserted @ the ng-transclude attribute</p>

        <p> Aaaallll this content is getting inserted @ the ng-transclude attribute</p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, provident, unde. Nemo odio qui vero!
    </panel>
</div>


<p>The term transclusion is used because the content that is inside the panel element will be inserted into the
    template. Two specific steps are required to apply transclusion. The first is to set the transclude definition
    property to
    true when creating the directive, like this:</p>
<p>transclude: <strong>true</strong></p>
<p>The second step is to apply the ng-transclude directive in the template at the point where you want the wrapped
    elements inserted.</p>