<h2>Start</h2>
<h2>Section chooser</h2>
<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>

<a href="#/beginning">
    <button class="btn btn-primary">Beginning</button>
</a>

<a href="#/compilefn">
    <button class="btn btn-primary">CompileFunction</button>
</a>

<a href="#/controllersindirectives">
    <button class="btn btn-primary">ControllersInDirectives</button>
</a>

<a href="#/controllersindirectives2">
    <button class="btn btn-primary">ControllersInDirectives2</button>
</a>

<a href="#/controllersindirectives3">
    <button class="btn btn-primary">ControllersInDirectives3</button>
</a>

<a href="#/customformelements">
    <button class="btn btn-primary">customFormElements</button>
</a>

<a href="#/handlingchanges">
    <button class="btn btn-primary">HandlingChanges</button>
</a>

<a href="#/handlingchangesintern">
    <button class="btn btn-primary">HandlingChangesIntern</button>
</a>

<a href="#/formattingdatavalues">
    <button class="btn btn-primary">FormattingDataValues</button>
</a>

<a href="#/validatingcustomformelements">
    <button class="btn btn-primary">ValidatingCustomFormElements</button>
</a>


<!--validatingcustomformelements-->

<!--formattingDataValues-->

<!--
customFormElements
-->



<!--controllersindirectives-->
<!--

compilefn
-->
