<h2>Start</h2>
<h2>Section chooser</h2>
<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>

<a href="#/beginning">
    <button class="btn btn-primary">Beginning</button>
</a>

<a href="#/definingnewmodule">
    <button class="btn btn-primary">DefiningNewModule</button>
</a>

<a href="#/consumingservice">
    <button class="btn btn-primary">ConsumingService</button>
</a>

<a href="#/usingservicemethod">
    <button class="btn btn-primary">UsingServiceMethod</button>
</a>

<a href="#/servicemethodwithoutprototypes">
    <button class="btn btn-primary">ServiceMethodWithoutPrototypes</button>
</a>

<a href="#/addfunctoproviderobj">
    <button class="btn btn-primary">AddFuncToProviderObj</button>
</a>

<!--addfunctoproviderobj-->

<!--
servicemethodwithoutprototypes-->

<!--usingservicemethod-->

<!--consumingService-->


<!--
definingnewmodule-->
