<h2>Creating Multiple Distinct Controllers</h2>

<div class="well" ng-controller="firstController">
    <h4>First Controller</h4>

    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="reverseText()">Reverse</button>
        </span>
        <input type="text" class="form-control" ng-model="dataValue">
    </div>
</div>

<div class="well" ng-controller="secondController">
<h4>Second Controller</h4>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="changeCase()">Case</button>
        </span>
        <input type="text" class="form-control" ng-model="dataValue">
    </div>
</div>

343