<h1>Angular Forms</h1>
<h2>Section chooser</h2>
<h3>Please choose your section</h3>

<a href="#/training">
    <button class="btn btn-warning btn-block">Training</button>
</a>
<a href="#/beginning">
    <button class="btn btn-primary">Beginning</button>
</a>

<a href="#/removedargument">
    <button class="btn btn-primary">Removedargument</button>
</a>

<a href="#/updatescope">
    <button class="btn btn-primary">UpdateScope</button>
</a>
<a href="#/monolithicctrl">
    <button class="btn btn-primary">MonolithicCtrl</button>
</a>

<a href="#/reusingcontroller">
    <button class="btn btn-primary">ReusingController</button>
</a>

<a href="#/rootscopectrlinteraction">
    <button class="btn btn-primary">RootscopeCtrlInteraction</button>
</a>

<a href="#/controllerinheritance">
    <button class="btn btn-primary">ControllerInheritance</button>
</a>

<a href="#/solvedcontrollerinheritance">
    <button class="btn btn-primary">SolvedControllerInheritance</button>
</a>

<a href="#/multipledistinctctrls">
    <button class="btn btn-primary">MultipleDistinctCtrls</button>
</a>

<a href="#/scopelesssimplectrl">
    <button class="btn btn-primary">ScopeLessSimpleCtrl</button>
</a>

<a href="#/definingjquerybutton">
    <button class="btn btn-primary">DefiningJqueryButton</button>
</a>

<a href="#/integratingjquerywangular">
    <button class="btn btn-primary">IntegratingJqueryWithAngular</button>
</a>

<!--definingjquerybutton-->

<!--multipledistinctctrls-->

<!--rootscopeCtrlInteraction-->

<!--reusingController-->

<!--
updateScopeCtrl-->
