body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

td > *:first-child {
    font-weight: bold
}

tr.Red { background-color: lightcoral; }
tr.Green { background-color: lightgreen;}
tr.Blue { background-color: lightblue; }